**/target/
/target/
/dist/
/tmp/
**/.tmp/
/dist/*.log
/dist/*.img
/dist/*.tmp
node_modules/
**/node_modules/
*.log
*.tmp
*.temp
*.unsigned
*.img
*.qcow2
*.vdi
*.vhd
*.vhdx
*.key
*.seed
*.pem
*.p12
*.pfx
.env
.env.*
!.env.example
.cache/
**/.cache/
.pytest_cache/
.venv/
venv/
build/
**/build/
*.exe
*.rmeta
*.pdb
*.dll
__pycache__/
*.pyc
.DS_Store
Thumbs.db
.vscode/
/esp/EFI/BOOT/BOOTX64.EFI
/esp/NvVars
